.edit-form {
    background-color: orange;
}

.edit-form.is-hidden {
/* transform: scale(0); */
display: none;

}

#single-review-div {
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
    border: 1px solid #f2ece6;
    width: 400px;
    padding: 15px;
    border-radius: 25px;
    margin: 2% 0 2% 0;
    background-color: #22333b63;
}

#review-date {
    font-size: 10px;
    margin-top: 0;
}

#review-username {
    margin-bottom: 5px;
    margin-top: 0;
}



.not-logged-in {
    font-family: 'Courier New', Courier, monospace;
    color: #ba844e;
}

#review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
