.edit-form {
    background-color: orange;
}

.edit-form.is-hidden {
/* transform: scale(0); */
display: none;

}

#reviews-title {
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
    font-size: 30px;
}

#single-review-div {
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
    border: 1px solid #f2ece6;
    max-width: fit-content;
    padding: 15px;
    border-radius: 25px;
    margin: 2% 0 2% 0;
    background-color: #22333b;
}

#review-date {
    font-size: 10px;
    margin-top: 0;
}

#review-username {
    margin-bottom: 5px;
}

.user-button.review-button {
    font-size: 10px;
}

.not-logged-in {
    font-family: 'Courier New', Courier, monospace;
    color: #ba844e;
}
