#back-button {
    margin: 2% 0 3% 2.5%;

}

#image-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#main-image {
    width: 1000px;
}

#single-location-title {
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
    text-transform: uppercase;
}

#single-location-logline {
    margin-top: 2%;
    margin-bottom: 4.5%;
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
}

#single-location-desc {
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
}

#single-location-address {
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    color: #f2ece6;
}

#single-film-location {
    display: flex;
    flex-direction: column;
}

#location-info {
    padding-bottom: 4%;
    border-bottom: 1px solid #f2ece6;
    margin: 0 10% 0 10%;

}
