#navigation {
    background-color: #22333B;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: auto;
    height: 50px;
    margin-left: 30px;
}

.user-button-div {
    margin-right: 30px;
}

.user-button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #eae0d5;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #0a0908;
    font-size: 15px;
    transition: background-color 0.1s;
    border-color: #5e503f;

}
.user-button:hover {
    background-color: #5e503f;
    color:#eae0d5;
}
